<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
    <!--<add key="RootDirctory" value="C:\PaymentLogs\"/>-->
    <add key="AcquirerBankDir" value="C:\PaymentLogs\StatusLog\AcquirerBank\" />
    <add key="IssuerBankDir" value="C:\PaymentLogs\StatusLog\IssuerBank\" />
    <add key="IssuerBankDir2" value="C:\PaymentLogs\StatusLog\IssuerBank2\" />
    <add key="ErrorLogDir" value="C:\PaymentLogs\ErrorLog\" />
    <!--<add key="AcquirerBankAPI" value="https://api.publicapis.org/entries"/>
    <add key="IssuerBankAPI" value="https://catfact.ninja/fact"/>
    <add key="IssuerBankAPI2" value="https://www.boredapi.com/api/activity"/>-->
  </appSettings>
</configuration>
<!--ProjectGuid: 97207CCC-0674-4C60-877C-B69C53DFA258-->