@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-primary{
    background: green !important;
    border-radius: 0 !important;
    padding: 5px 10px !important;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-left: 43%;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .bi-trash{
    color: red;
    cursor: pointer;
  }
p{
    font-size: 14px;
}
.login-header {
    padding: 20px 0;
}

.login-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form .btn {
    width: 100%;
    /* line-height: 40px; */
    background-color: rgb(12, 12, 66);
    color: white;
    border-radius: 3px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group label {
    flex-basis: 45%;
    margin-right: 10px;
}

input::placeholder {
    color: #ccc !important;
    opacity: 1 !important;
    /* Firefox */
}

.form-control {
    flex-grow: 1;
}

input[type=text]:focus {
    outline: none;
}